/* Custom Stylesheet */

.tight-grid,
.grid {
  display: grid;
  grid-template-rows: auto;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: auto;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--page-width) / 20), 1fr)
  );
}

.grid {
  grid-gap: 2em;
}

.result-list span {
  display: inline-block;
  white-space: nowrap;
}

fieldset {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.form-group label {
  text-align: center;
  color: #999;
}

input[type="text"] {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

input[type="text"].green-field {
  background-color: #ddffdd;
}
input[type="text"].yellow-field {
  background-color: #ffd;
}
input[type="text"].gray-field {
  background-color: #eee;
}

.terminal-prompt::after {
  animation-iteration-count: 10;
}

table.lfData tbody td {
  text-align: right;
}
table.lfData,
table.lfData th,
table.lfData td {
  border-color: lightgray;
}


input[type=text].letter {
  border-bottom: none;
}
button.result {
  padding: 0em;
  width: 100%;
  font-weight: bold;
}

button.result:hover, button.result:focus {
  border-left-color: black;
  border-right-color: black;
  border-left-width: 5px;
  border-right-width: 5px;
}

button.result.gray {
  background-color: lightgrey;
  color: black;
}
button.result.yellow {
  background-color: yellow;
  color: black
}
button.result.green {
  background-color: green;
  color: white;
}