/* Custom Stylesheet */

.form-grid {
  display: grid;
  grid-template-rows: auto;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: auto;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(var(--page-width) / 20), 1fr)
  );
}

.result-list span {
  display: inline-block;
  white-space: nowrap;
}

fieldset {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.form-group label {
  text-align: center;
  color: #999;
}

input[type=text] {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
}

input[type=text].green-field {
  background-color: #ddffdd;
}
input[type=text].yellow-field {
  background-color: #ffd}
input[type=text].gray-field {
  background-color: #eee;
}

.terminal-prompt::after {
  animation-iteration-count: 10;
}
